html {
    font-family: Microsoft JhengHei;
    background: #ECEEF0;
    min-width: 1000px;
}
.clock_bg {
    width: 500px;
    padding-bottom: 500px;
    margin: 11% auto 0 auto;
    background: #373F4A;
    box-sizing: border-box;
    padding: 1%;
    border-radius:50%;
    .clock_circle {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        margin: auto auto;
        background: #252C34;
        box-sizing: border-box;
        .clocks {
            position: absolute;
            animation: run 60s 1 ;
            opacity: 0;
            &:before {
                content: '';
                color: #FEFFFF;
                font-size: 30px;
            }
            &_1 {
                top: 10%;
                right: 26%;
                &:before {
                    content: '1';
                }
                animation-delay: 0.2s;
            }
            &_2 {
                top: 25%;
                right: 11%;
                &:before {
                    content: '2';
                }
                animation-delay: 0.4s;
            }
            &_3 {
                top: 45%;
                right: 4%;
                &:before {
                    content: '3';
                }
                animation-delay: 0.6s;
            }
            &_4 {
                bottom: 25%;
                right: 11%;
                &:before {
                    content: '4';
                }
                animation-delay: 0.8s;
            }
            &_5 {
                bottom: 10%;
                right: 26%;
                &:before {
                    content: '5';
                }
                animation-delay: 1s;
            }
            &_6 {
                bottom: 4%;
                left: 49%;
                &:before {
                    content: '6';
                }
                animation-delay: 1.2s;
            }
            &_7 {
                bottom: 10%;
                left: 26%;
                &:before {
                    content: '7';
                }
                animation-delay: 1.4s;
            }
            &_8 {
                bottom: 25%;
                left: 11%;
                &:before {
                    content: '8';
                }
                animation-delay: 1.6s;
            }
            &_9 {
                top: 45%;
                left: 4%;
                &:before {
                    content: '9';
                }
                animation-delay: 1.8s;
            }
            &_10 {
                top: 25%;
                left: 11%;
                &:before {
                    content: '10';
                }
                animation-delay: 2s;
            }
            &_11 {
                top: 10%;
                left: 26%;
                &:before {
                    content: '11';
                }
                animation-delay: 2.2s;
            }
            &_12 {
                top: 4%;
                right: 47%;
                &:before {
                    content: '12';
                }
                animation-delay: 2.4s;
            }
                
        }
        .clocks_circleInside {
            position: absolute;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 50%;
            z-index: 99;
            animation: turn 60s linear infinite;
            .clock_center {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #ED6C45;
                width: 5%;
                padding-bottom: 5%;
                border-radius: 50%;
                .clock_inside {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-80%);
                        border: 2px solid #ED6C45;
                        padding-bottom: 0%;
                        border-radius: 5px;
                        opacity: 0;
                        animation: run1 60s 3s 1;
                    }
                }
            }
        }
        
    }
    .clocks_circleoutside {
        .time {
            position: relative;
            width: 100%;
            padding-bottom: 100%;;
        }
        &_1 {
            position: absolute;
            width: 100%;
            animation: minuteHand;
            animation-duration: 3600s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            .time {
                &_minuteHand {
                    position: relative; 
                    &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 17%;
                        opacity: 0;
                        border: 4px solid #FEFFFF;
                        padding-bottom: 0%;
                        transform: translate(-50%, 0%);
                        border-radius: 30% 30% 0 0;
                        animation: run2 60s 2.8s 1;
                    }
                }
            }
        }
        &_2 {
            position: absolute;
            width: 100%;
            animation: hourHand;
            animation-duration: 216000s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            .time {
                &_hourHand {
                    position: relative; 
                    &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 28%;
                        border: 6px solid #FEFFFF;
                        padding-bottom: 0%;
                        transform: translate(-50%, 0%);
                        border-radius: 30% 30% 0 0;
                        animation: run3 60s 2.6s 1;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
@keyframes turn {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

@keyframes hourHand {
    from{transform: rotate(300deg)}
    to{transform: rotate(660deg)}
}
@keyframes minuteHand {
    from{transform: rotate(60deg)}
    to{transform: rotate(420deg)}
}

@keyframes run {
    0%{opacity: 0;}
    1%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes run1 {
    0%{padding-bottom: 0%; opacity: 0;}
    1%{padding-bottom: 800%; opacity: 1;}
    100%{padding-bottom: 800%; opacity: 1;}
}
@keyframes run2 {
    0%{padding-bottom: 0%; opacity: 0;}
    1%{padding-bottom: 33%; opacity: 1;}
    100%{padding-bottom: 33%; opacity: 1;}
}
@keyframes run3 {
    0%{padding-bottom: 0%; opacity: 0;}
    1%{padding-bottom: 20%; opacity: 1;}
    100%{padding-bottom: 20%; opacity: 1;}
}